html {
    box-sizing: border-box;
    margin:0px;
    height:300%;
    width:100%;
}

*, *:before, *:after { box-sizing: inherit; }

body {
    margin:0px;
    min-height:100%;
    width:100%;
    border: solid 10px rgba(255, 166, 0, 0.7);
}

hr {
    justify-self: center;
    width:85%;
    background-color: rgba(255, 166, 0, 0.7);
}

h1 , h2, h3 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
}

#bar1, #bar2, #bar3 {
    width: 30px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

.change #bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change #bar2 {opacity: 0;}
.change #bar3 {
transform: translate(0, -11px) rotate(45deg);
}

.header {
    padding:3%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

@media (max-width:710px) {
    .header {
        padding-top:20px;
    }
    #hamburger {
        top:5%;
        left:5%;
    };
}

#hamburger {
    left:0%;
    position:absolute;
    z-index: 2;
    display: inline-block;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    margin-left:12%;
}

#logo-image {
    width:40%;
    height:auto;
    grid-column:3;
    align-self:center;
}

#overlay {
    background-color: rgb(45, 45, 126);
    height: 100%;
    width:0;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    overflow-x: hidden;
    transition: 0.5s;
}

#sidebar {
    display:grid;
    overflow-x: hidden;
    position:absolute;
    width:100%;
    height:100%;
    right:0;
    text-align: right;
    grid-template-rows: 1fr 1fr 1fr 1fr 4fr;
}

#sidebar > a {
    margin-top:9.5%;
    font-size: 200%;
    align-self: center;
    display:block;
    color:white;
    text-decoration: none;
    margin-right:8%;
}

/* ################# FOOTER ###################### */
.footer {
    margin-top:15%;
    background-color: #003a70;
    text-align: center;
    padding:5% 0%;
}

.footer > * {
    color:white;
}

#footer-world-famous {
    color:rgb(255, 183, 49);
    font-weight:bolder;
}

#footer-phone-number {
    font-weight:bolder;
    color: rgb(255, 183, 49);
}

.links {
    align-items: center;
}

.sm-img {
    height:auto;
    width:3%;
    transition:transform 0.3s;
}

#facebook-img {
    width:4.5%;
    height:auto;
}

.links > a:hover > .sm-img {
    transform:scale(1.5);
}

#footer-logo {
    width:85%;
    height:auto;
}
/* #################### COPIED ###################### */

.container {
    padding:5%;
    display:flex;
    flex-direction:row;
    background-color:  #003a70;
    margin-top:10%;
    justify-self: center;
    width:100%;
    justify-content:space-evenly;
    text-wrap:wrap;
}

#map {
    width:60%;
    height:50%;
}

.map-content > * {
    color:white;
}